entrypoint = "README.md"
run = "bun run --hot ./ssr.ts"
compile.args = ["NODE_ENV=development", "bun", "./build.ts"]

refreshWebViewOnFileChange = ["pages", "api", "components"]

hidden = [
  ".config",
  ".tutorial",
  "node_modules",
  "replit.nix",
  ".bun",
  ".cache",
]
modules = [
  "nodejs-23",
  "svelte-kit-node-20",
  "web",
  "dart-3.5",
  "go-1.23",
  "postgresql-17",
  "python-base-3.13",
  "typescript-language-server",
  "pyright-extended",
  "zig-0.11",
  "hermit-0.38.2",
  "haskell-ghc9.6",
  "c-clang14",
  "cpp-clang14",
]


packager.language = "bun"
packager.features.packageSearch = true
packager.features.enabledForHosting = false
packager.features.guessImports = true
packager.env = {}
packager.afterInstall = { args = [] }
packager.ignoredPackages = []
packager.ignoredPaths = [".git", ".config"]

[nix]
channel = "stable-24_11"
